.filterbar {
  min-height: 3.75rem;
  margin: -1rem 1rem 0 1rem;
  padding: 1rem;
  background-color: hsl(var(--clr-neutral-100));

  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: center;

  border-radius: 5px;

  box-shadow: 0px 0px 20px -10px hsl(var(--clr-primary-cyan));
}

.filterbar--empty {
  background-color: transparent;
  box-shadow: none;
}

.filterbar__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 0.9375rem;
}

.filterbar__list > li {
  background-color: hsla(var(--clr-primary-cyan), 0.15);
  color: hsl(var(--clr-primary-cyan));
  font-weight: var(--fw-bold);
  display: flex;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
}

.filterbar__list > li > span {
  padding: 0.2rem 0.5rem;
}

.filterbar__list > li > button {
  padding: 0 0.5rem;
  border: none;
  background-color: hsl(var(--clr-primary-cyan));
  cursor: pointer;
  transition: 0.3s;
}

.filterbar__list > li > button:hover {
  background-color: hsl(var(--clr-neutral-500));
}

.filterbar__clear {
  background-color: transparent;
  border: none;
  font-weight: var(--fw-bold);
  color: hsl(var(--clr-neutral-400));
  padding: 0 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.filterbar__clear:hover {
  text-decoration: underline;
  color: hsl(var(--clr-primary-cyan));
}
