header {
  background-color: hsl(var(--clr-primary-cyan));
  background-image: url("../assets/images/bg-header-mobile.svg");
  background-size: contain;
  min-height: 12vh;
}

@media (min-width: 768px) {
  header {
    background-image: url("../assets/images/bg-header-desktop.svg");
  }
}
