.jobcard {
  --image-size: 3rem;

  display: grid;
  gap: 0.6rem;
  background-color: hsl(var(--clr-neutral-100));
  margin: 4rem 1rem 0 1rem;

  font-family: var(--ff-base);
  font-weight: var(--fw-medium);
}

.jobcard > img {
  width: var(--image-size);
  margin-top: calc(var(--image-size) / -2);
  margin-left: 2rem;
}

.jobcard__title {
  margin-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  font-size: 0.65rem;
  color: hsl(var(--clr-primary-cyan));
  font-weight: var(--fw-bold);
}

.jobcard__new {
  margin-left: 1rem;
  background-color: hsl(var(--clr-primary-cyan));
  color: hsl(var(--clr-neutral-100));
  padding: 0.2rem 0.5rem;
  border-radius: 4rem;
  font-size: 0.8rem;
}

.jobcard__featured {
  background-color: hsl(var(--clr-neutral-500));
  color: hsl(var(--clr-neutral-100));
  padding: 0.2rem 0.5rem;
  border-radius: 4rem;
  font-size: 0.8rem;
}

.jobcard__position {
  width: fit-content;
  margin-left: 1rem;
  color: hsl(var(--clr-neutral-500));
  font-weight: var(--fw-bold);
}

.jobcard__infos {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0;
  padding-bottom: 1rem;
  list-style: none;
  display: flex;
  gap: 1rem;
  color: hsl(var(--clr-neutral-400));
  font-size: 0.9375rem;
  border-bottom: 1px solid hsl(var(--clr-neutral-400));
}

.jobcard__tags {
  margin: 1rem;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-weight: var(--fw-bold);
  font-size: 0.9375rem;
}

.jobcard__tags > li {
  color: hsl(var(--clr-primary-cyan));
  background-color: hsla(var(--clr-primary-cyan), 0.15);
  padding: 0.2rem 0.5rem;
}

@media (min-width: 52rem) {
  .jobcard {
    grid-template-columns: auto auto 1fr;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-top: 1rem;
  }

  .jobcard > img {
    width: fit-content;
    margin: 0;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }

  .jobcard__infos {
    border: none;
    padding: 0;
  }

  .jobcard__tags {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
    justify-self: self-end;
  }
}
