/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --clr-primary-cyan: 180, 29%, 50%;

  --clr-neutral-100: 0, 0%, 100%;
  --clr-neutral-200: 180, 52%, 96%;
  --clr-neutral-300: 180, 31%, 95%;
  --clr-neutral-400: 180, 8%, 52%;
  --clr-neutral-500: 180, 14%, 20%;

  --ff-base: "League Spartan", sans-serif;
  --fw-medium: 500;
  --fw-bold: 700;
  --fs-base: 0.9375rem;
}

body {
  background-color: hsl(var(--clr-neutral-200));
  font-family: var(--ff-base);
  font-weight: var(--fw-medium);
}

#root {
  display: grid;

  justify-content: center;
  /* align-items: center; */
}

#header {
  background-color: hsl(var(--clr-primary-cyan));
  background-image: url("./assets/images/bg-header-mobile.svg");
  background-size: contain;
  min-height: 12vh;
}

@media (min-width: 40rem) {
  #header {
    background-image: url("./assets/images/bg-header-desktop.svg");
  }
}

@font-face {
  font-family: "League Spartan";
  src: url("./assets/fonts/LeagueSpartan-Bold.woff2")
    url("./assets/fonts/LeagueSpartan-Medium.woff2");
  font-weight: 500, 700;
}
